<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/js/CardServicio1.0.0.js"></script>
  <script src="~/js/Servicio.1.0.0.js"></script>
  <link rel="stylesheet" href="~/css/Servicio.css" asp-append-version="true" />
</head>




<!------------------- en esta seccion se encuentra lo referido a servicios
 los contenedores para ingresar card y datos de esas car
 y las alertas de las pantallas con los scripst  -------------->





<body class="color">


  <h1 class="titulo_pretacion text-center my-3">
    Servicios Ofrecidos <i class="fa-solid fa-toolbox"></i>
  </h1>
  <p class="parrafo_servicio"><i class="fa-solid fa-circle-exclamation"></i> En esta sección se encuentran los servicios
    que usted como usuario brinda.</p>


@* modal para agregar servicios *@
  <!-- Botón para agregar servicio -->
  <div class="boton-container_servicio">
    <button type="button" class="btn10" data-bs-toggle="modal" data-bs-target="#agregarServicio">Agregar
      Servicio</button>
  </div>

  <div class="conte">
    <div class="contenedor-card card" id="ServicioID">
      <div id="contenedorCards" class="row"></div>
    </div>

    <div class="modal fade tamaño-color-modal" id="agregarServicio" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="exampledModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content modal_style">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Nuevo Servicio Ofrecido</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Toast dentro del modal -->
          <div class="toast align-items-center text-bg-primary border-0" id="myToastModal" role="alert"
            aria-live="assertive" aria-atomic="true" data-bs-delay="10000" style="position: relative; z-index: 1050;">
            <div class="d-flex">
              <div class="toast-body">
                Atención: Mientras más datos ingreses, mejor para tu perfil de servicios.
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
            </div>
          </div>

          <div class="modal-body">
            <form action="javascript:void(0)" method="post" class="row g-3">
              <input type="hidden" id="ServicioID" value="0" />

              <div class="col-md-6">
                <label for="ProfesionID" class="form-label">Profesion</label>
                @Html.DropDownList("ProfesionID", null, htmlAttributes: new
                  {
                    @class = "form-control",
                    id =
                       "ProfesionID"
                  })
                <small class="form-text text-muted " style="color: red;">Elige tu profesión en la que te
                  desenvuelves.</small>
              </div>


              <input type="hidden" id="PersonaID" value="@ViewBag.PersonaIDLogueada" />


              <div class="col-md-6">
                <label for="NombrePersona" class="form-label">Nombre</label>
                <input type="text" id="NombrePersona" class="form-control" value="@ViewBag.NombrePersonaLogueada"
                  readonly />
              </div>

              <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" id="descripcion" class="form-control Tamaño_input" placeholder="Descripción">
                <small class="form-text text-muted " style="color: red;">Agrega una Descripcion que Sume al servicio
                  ofrecido, no es obligatorio!</small>
              </div>

              <div class="col-md-6">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" id="titulo" class="form-control Tamaño_input" placeholder="Título">
                <small class="form-text text-muted " style="color: red;">Agrega un titulo o descripcion que califique a
                  tu Servicio Ofrecido, no es obligatorio!</small>
              </div>

              <div class="col-md-6">
                <label for="institucion" class="form-label">Institución</label>
                <input type="text" id="institucion" class="form-control Tamaño_input" placeholder="Institución">
                <small class="form-text text-muted " style="color: red;">Agrega en que Institucion obtuviste el titulo o
                  donde aprendiste El servicio Ofrecido, no es obligatorio!</small>
              </div>
            </form>
          </div>

          <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" onclick="LimpiarModal()" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="agregarServicio()">Guardar cambios</button>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!--Alerta fuera del modal -->
  <div class="toast align-items-center text-bg-success border-0" id="myToastOutside" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-delay="5000" style="position: fixed; top: 265px; right: 20px; z-index: 1050;">
    <div class="d-flex">
      <div class="toast-body">
        Agrega tu servicio, cliquea en Agregar servicio!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>






  <!-- Modal de los servicios solicitados -->
  <div class="modal fade" id="modalServicioSolicitado" tabindex="-1" aria-labelledby="modalServicioSolicitado"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content fondo_modal_servicio_solicitado">
        <div class="modal-header">
          <h5 class="modal-title" id="modalServicioSolicitadoLabel"> Mis servicios ofrecidos que fueron solicitados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- se insertan las cards de servicio solicitado -->
          <div class="row" id="ServiciosSolicitados">
            <!-- contenido dentro de la card-->
          </div>

          <!-- Alerta -->
          <div class="toast align-items-center text-bg-primary border-0" id="myToastModal_servicios_ofrecido"
            role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000"
            style="position: relative; z-index: 1050;">
            <div class="d-flex">
              <div class="toast-body">
                Estos servicios tuyos estan siendo solicitados, Dales una Respuesta!
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alerta de servicio solicitado-->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var myModal = document.getElementById('modalServicioSolicitado');
      var myToastModal = new bootstrap.Toast(document.getElementById('myToastModal_servicios_ofrecido'));
      var delayModal = 2000;

      myModal.addEventListener('shown.bs.modal', function () {
        setTimeout(function () {
          myToastModal.show();
        }, delayModal);
      });
    });
  </script>




@* registros de servicios aceptados y rechazados *@

@* aceptado *@
  <!-- Modal de los servicios solicitados -->
  <div class="modal fade" id="modalServicioSolicitadoaceptados" tabindex="-1" aria-labelledby="modalServicioSolicitadoaceptados"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content fondo_modal_servicio_solicitado">
        <div class="modal-header">
          <h5 class="modal-title" id="modalServicioSolicitadoLabel"> Mis servicios ofrecidos que fueron solicitados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- se insertan las cards de servicio solicitado -->
          <div class="row" id="ServiciosSolicitadosaceptados">
            <!-- contenido dentro de la card-->
          </div>

 


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




@* rechazado *@
  <!-- Modal de los servicios solicitados -->
  <div class="modal fade" id="modalServicioSolicitadorechazado" tabindex="-1" aria-labelledby="modalServicioSolicitadoaceptados"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content fondo_modal_servicio_solicitado_rechazado">
        <div class="modal-header">
          <h5 class="modal-title" id="modalServicioSolicitadoLabel"> Mis servicios ofrecidos que fueron solicitados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- se insertan las cards de servicio solicitado -->
          <div class="row" id="ServiciosSolicitadoRechazados">
            <!-- contenido dentro de la card-->
          </div>

 


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>






  <!-- Modal -->
  <div class="modal fade" id="ModalVistaPersona" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl">
      <div class="modal-content fondo_registro_modal">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Datos de mi Cuenta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <input type="hidden" id="PersonaID" value="0">




          <form>
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="LocalidadID" class="form-label" style="color: white;">Ciudad</label>
                @Html.DropDownList("LocalidadID", null, htmlAttributes: new
                  {
                    @class = "form-control",
                    id =
                       "LocalidadID"
                  })
              </div>





              <div class="col-12 col-md-6 mb-3">
                <label for="nombre" class="form-label " style="color: white;">Nombre</label>
                <input type="text" class="form-control" placeholder="nombre" id="nombre" aria-label="Nombre"
                  aria-describedby="basic-addon2" oninput="validarTexto(this)">
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="apellido" class="form-label" style="color: white;">Apellido</label>
                <input type="text" class="form-control" placeholder="apellido" id="apellido" aria-label="Apellido"
                  aria-describedby="basic-addon2" oninput="validarTexto(this)">
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="edad" class="form-label" style="color: white;">Edad</label>
                <input type="number" class="form-control" placeholder="edad" id="edad" aria-label="Edad"
                  aria-describedby="basic-addon2 " oninput="validarEdad(this)">
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="telefono" class="form-label" style="color: white;">Teléfono</label>
                <input type="number" class="form-control" placeholder="telefono" id="telefono" aria-label="Teléfono"
                  aria-describedby="basic-addon2" oninput="validarEdad(this)">
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="documento" class="form-label" style="color: white;">Documento</label>
                <input type="number" class="form-control" placeholder="documento" id="documento" aria-label="Documento"
                  aria-describedby="basic-addon2" oninput="validarEdad(this)">
              </div>

              <div class="col-12">
                <p class="posicion_Link_perfil">
                  <a class="Link_perfil" style="color: white;" id="forgot-password"
                    href="@Url.Page("/Account/ForgotPassword", new { area = "Identity" })">
                    ¿Quiere cambiar la contraseña?
                  </a>
                </p>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class=" btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-primary" onclick="GuardarPerfil()">Guardar</button>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <!-- Contenedor de datos personales -->
    <div class=" col-md-6">
      <div class="row justify-content-center mt-4">
        <h6 class="texto-datos-personales">Mis datos personales</h6>
        <div id="perfilContainer" class="col-12 col-md-8 mx-auto"></div>
      </div>
    </div>

    <!-- Contenedor de que  es servicios ofrecidos -->
    <div class="Datos_personales col-md-6">
      <h1 class="texto">¿Que es Servicios Ofrecidos?</h1>
      <P class="texto">Esta sección es tu oportunidad para mostrar los oficios y profesiones que dominas. Permite que
        otros descubran tus talentos y aprovechen tus servicios.</P>
    </div>
  </div>





  <!-- Botón para comprobar si hay solicitudes -->




  <script>
    window.onload = function () {
      // Retraso en milisegundos para mostrar los toast
      var delayModal = 2000;
      var delayOutside = 400;

      // Mostrar toast dentro del modal después de un retraso
      setTimeout(function () {
        var myToastModal = new bootstrap.Toast(document.getElementById('myToastModal'));
        myToastModal.show();
      }, delayModal);

      // Mostrar toast fuera del modal después de un retraso
      setTimeout(function () {
        var myToastOutside = new bootstrap.Toast(document.getElementById('myToastOutside'));
        myToastOutside.show();
      }, delayOutside);
    };




  </script>

  @* 
<button onclick="enviarNotificacion()">Enviar Notificación</button> *@

  <script>
    function enviarNotificacion() {
      fetch('/Notificaciones/EnviarNotificacion', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ mensaje: 'Hola, esta es una notificación' }) // Asegúrate de enviar el mensaje como JSON
      })
        .then(response => {
          if (response.ok) {
            console.log("Notificación enviada");
          } else {
            console.error("Error al enviar notificación:", response.statusText);
          }
        })
        .catch(err => console.error("Error al enviar notificación:", err));
    }
  </script>


</body>

</html>